<div class="container" style="background: url(/assets/coralbells.png)">
  <!-- <%= image_tag "coralbells.png", :style => "width:100%"%> -->

<div class="form-2">
  <h1>Please Sign up to Proceed</h1>

<%= form_for @user do |f|%>
  <% if @user.errors.any? %>
  <div class="error message">
    <h2>form is invalid</h2>
    <ul>
      <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
      <%end%>
    </ul>
  </div>
  <%end%>
  <p>
    <%= f.label :first_name %> <br>
    <%= f.text_field :first_name%>
  </p>
  <p>
    <%= f.label :last_name %> <br>
    <%= f.text_field :last_name%>
  </p>
  <p>
    <%= f.label :phone_number %> <br>
    <%= f.text_field :phone_number%>
  </p>
  <p>
    <%= f.label :email %> <br>
    <%= f.text_field :email%>
  </p>
  <p class="button" name="submit"><%= f.submit %></p>
  <% end %>
</div>
</div>
