<!DOCTYPE html>
<html>
  <head>
    <title>Tsavo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |name|%>
    <%= content_tag :div, :id => "flash_#{name}"%>
  <% end %>
    <%= yield %>
  </body>
</html>
